name: deploy-to-azure-workflow
run-name: ${{ github.sha }} deploy
on: [push]

permissions:
  id-token: write
  contents: read

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}
  
      - name: Login to ACR
        run: az acr login --name ${{ vars.AZURE_ACR_NAME }}

      - name: Set image tag
        run: echo "IMAGE_TAG=${GITHUB_SHA}" >> $GITHUB_ENV

      - name: Build and push image (linux/amd64)
        run: |
          ACR_LOGIN_SERVER=$(az acr show -n "${{ vars.AZURE_ACR_NAME }}" --query loginServer -o tsv)
          IMAGE="$ACR_LOGIN_SERVER/filevault:${IMAGE_TAG}"

          docker buildx create --use || true
          docker buildx build \
            --platform linux/amd64 \
            -t "$IMAGE" \
            --push \
            .

          echo "IMAGE=$IMAGE" >> $GITHUB_ENV

      - name: Load secrets from Key Vault and set Container App env
        run: |
          KV_NAME="kv-filevault-dev-001"
          RG="${{ vars.AZURE_RESOURCE_GROUP }}"
          APP="${{ vars.AZURE_CONTAINERAPP_NAME }}"

          ACCOUNT_NAME=$(az keyvault secret show --vault-name "$KV_NAME" --name "AZURE-STORAGE-ACCOUNT-NAME" --query value -o tsv)
          ACCOUNT_KEY=$(az keyvault secret show --vault-name "$KV_NAME" --name "AZURE-STORAGE-ACCOUNT-KEY" --query value -o tsv)
          AZURE_CONTAINER_NAME=$(az keyvault secret show --vault-name "$KV_NAME" --name "CONTAINER-NAME" --query value -o tsv)


            # Store key as a Container App secret
          az containerapp secret set -g "$RG" -n "$APP" \
          --secrets storage-account-key="$ACCOUNT_KEY"

            # Set env vars (key comes from secretref)
          az containerapp update -g "$RG" -n "$APP" \
          --set-env-vars AZURE_STORAGE_ACCOUNT_NAME="$ACCOUNT_NAME" \
          AZURE_STORAGE_ACCOUNT_KEY=secretref:storage-account-key \
          AZURE_CONTAINER_NAME="$AZURE_CONTAINER_NAME"        

      - name: Deploy to Azure Container App
        run: |
          az containerapp update \
            -g "${{ vars.AZURE_RESOURCE_GROUP }}" \
            -n "${{ vars.AZURE_CONTAINERAPP_NAME }}" \
            --image "$IMAGE"